@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
h1, ul {
    background: #333;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    transition: 0.5s ease;
}
h1:hover, ul:hover {
    box-shadow: 0 0 20px #333;
    transform: translate(5px, -5px);
}

h2 {
    background: #140979;
    color: #fff;
    padding: 15px;
    transition: 0.5s ease;
    border-radius: 10px;
}

h2:hover {
    box-shadow: 0 0 20px #140979;
    transform: translate(5px, -5px);
}

p {
    background: #39055c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s ease;
}

p:hover {
    box-shadow: 0 0 20px #39055c;
    transform: translate(5px, -5px);
}